.projects {
  margin-top: 470px;
}

.note {
  text-align: center;
}

.title {
  text-align: center;
}

.link {
  display: inline;
  margin: 20px;
  padding: 10px;
  background-color: #ffb742;
  border-radius: 10px;
  transition: 0.3s;
}
video {
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid #ffb742;
}
.link:hover {
  background-color: #ffb742d3;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .projects {
    margin-top: 200px;
  }
  video {
    max-width: 650px;
  }
  .link {
    display: inline;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
  }
  .header {
    font-size: 22px;
    max-width: 550px;
    margin-left: 95px;
  }
}
@media (max-width: 480px) {
  video {
    max-width: 350px;
    max-height: 250px;
  }
  .link {
    display: block;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .header {
    font-size: 12px;
    max-width: 350px;
    margin-left: 35px;
  }
}
