.projects {
  margin: 137px auto;
  width: 1234px;
  height: 1037.5px;
}

.note {
  margin: 470px auto;
  margin-bottom: 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffb742;
  font: 600 15px "Poppins";
  text-align: center;
  text-transform: uppercase;
  width: 98px;
  height: 30px;
  padding-top: 3px;
}

.title {
  text-align: center;
  display: block;
  margin: 0 auto;
  font: 700 48px "Roboto";
  color: white;
  width: 518px;
}

.header {
  font-size: 20px;
}

.link {
  display: inline;
  margin: 20px;
  padding: 10px;
  background-color: #ffb742;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}
video {
  margin-bottom: 20px;
  border-radius: 30px;
  border: 1px solid #ffb742;
}
.link:hover {
  background-color: #ffb742d3;
  transition: 0.3s;
}
