.react-tabs {
  -webkit-tap-highlight-color: white;
}

.react-tabs__tab-list {
  margin: 0 0 50px 350px;
  padding: 10;
}

.react-tabs__tab {
  display: inline-block;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 16px 10px;
  margin: 20px;
  cursor: pointer;
  color: white;
  font: 16px "Poppins";
}

.react-tabs__tab--selected {
  background: #ffb742;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  color: white;
  font: 700 20px "Poppins";
  letter-spacing: 1px;
  text-align: center;
  display: block;
}
@media (max-width: 979px) {
  .react-tabs__tab-list {
    margin: 0 0 50px 230px;
    padding: 10;
  }
}
@media (max-width: 767px) {
  .react-tabs__tab-list {
    margin: 0 0 50px 130px;
    padding: 10;
  }
}
@media (max-width: 480px) {
  .react-tabs__tab-list {
    margin: 0 0 20px 20px;
    padding: 10;
  }
  .react-tabs__tab {
    padding: 10px 10px;
    margin: 10px;
    font: 12px "Poppins";
  }
}

@media only screen and (device-width: 390px) and (device-height: 844px) {
  .react-tabs__tab-list {
    margin: 0 0 10px 0px;
  }
  .react-tabs__tab {
    padding: 5px 5px;
    margin: 10px;
  }
}
