.hero {
  margin-top: 106px;
  /* width: 964px; */
  height: 458.73px;
  display: block;
  margin: 106px auto;
  font-family: "Inter";
  color: white;
}

.name {
  margin-top: 50px;
  height: 51px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.who {
  height: 91px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.phrase {
  height: 51px;
  font-size: 24px;
  font-weight: regular;
  text-align: center;
}

span {
  color: #ffb742;
  text-decoration: underline;
}

.photo {
  margin-top: 70px;
  text-align: center;
}

@media (max-width: 979px) {
  .name {
    font-size: 18px;
  }
  .who {
    font-size: 28px;
  }
  .phrase {
    font-size: 14px;
  }
  .photo {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .name {
    font-size: 18px;
  }
  .who {
    font-size: 28px;
  }
  .phrase {
    font-size: 14px;
  }
  .photo {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .name {
    font-size: 18px;
  }
  .who {
    font-size: 28px;
  }
  .phrase {
    font-size: 12px;
  }
  .photo {
    margin-top: 10px;
  }
}

@media only screen
    and (device-width: 390px)
    and (device-height: 844px) {
      .phrase {
        font-size: 11px;
      }
     }
