.hero {
  border: 1px solid rgb(48, 116, 73);
  margin-top: 106px;
  width: 964px;
  height: 458.73px;
  display: block;
  margin: 106px auto;
  font-family: "Inter";
  color: white;
}

.one {
  height: 51px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.two {
  height: 91px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.three {
  height: 51px;
  font-size: 24px;
  font-weight: regular;
  text-align: center;
}

span {
  color: #ffb742;
  text-decoration: underline;
}

.four {
  text-align: center;
}
