* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  padding-top: 15px;
  width: 1342px;
  height: 66px;
  display: grid;
  margin: 0 auto;
  text-align: center;

  /*Фиксирует навбар при скролле*/
  /* position: sticky;
  top: 0; */

  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.box1 {
  grid-column: span 4;
  justify-self: start;
}
.box2 {
  grid-column: span 1;
}
.box3 {
  grid-column: span 1;
}
.box4 {
  grid-column: span 1;
}
.box5 {
  grid-column: span 1;
}
.box6 {
  grid-column: span 1;
}
.box7 {
  grid-column: span 4;

  /* display: grid; */
  /* align-self: center; */
  justify-self: end;
}

.btn {
  width: 121px;
  height: 54px;
  border-radius: 30px;
  border: none;
  background-color: #ffb742;
  font: 700 18px "Poppins";
  transition: all 1s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #d77b39;
  transition: all 0.6s ease;

}

.a {
  color: white;
}
