.skills {
  margin: 135px auto;
  width: 1339px;
  height: 358.29px;
  display: grid;
  grid-template-areas:
    "B B B B   B B B B   B B B B"
    "C C C C   C C C C   C C C C"
    "D D D D   D D A A   A A A A"
    "D D D D   D D A A   A A A A";
}

.box {
  grid-area: A;
  width: 560px;
  height: 176px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.miniBox {
  margin: 5px;
  width: 80px;
  height: 80px;
  background-color: #383e45;
  border-radius: 15px;
  text-align: center;
  padding-top: 15px;
}

.miniBox img {
  width: 45px;
}
