.aboutMe {
  display: grid;
  margin-top: 200px;
  grid-template-columns: repeat(2, 1fr);
}

.me {
  width: 100%;
}

.contentBox {
  margin-top: 120px;
}

.btnBox {
  margin-top: 80px;
}

@media (max-width: 979px) {
  .aboutMe {
    grid-template-columns: repeat(2, 1fr);
  }
  .contentBox {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .aboutMe {
    grid-template-columns: repeat(1, 1fr);
  }
  .btnBox {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .aboutMe {
    grid-template-columns: repeat(1, 1fr);
  }
  .btnBox {
    display: none;
  }
}

@media only screen and (device-width: 390px) and (device-height: 844px) {
  .aboutMe {
    margin-top: 210px;
  }
  .contentBox {
    margin-left: 5px;
  }
}
